[2012-06-30 02:01] bromokun opened #2 "Mochiweb make"
Dear experts,

I tried to develop a Mochiweb based application, that will use RabbitMQ,
So I put your git repo in my Mochiweb app's rebar.config such as below:

{deps, [
  {mochiweb, "._", {git, "git://github.com/mochi/mochiweb.git", "master"}},
  {rabbitmq, "._", {git, "git://github.com/rabbitmq/rabbitmq-erlang-client.git", "master"}}
]}.

When I want to build my app, I managed to clone your proj

[2012-07-02 08:47] horkhe opened #3 "gen_server2 and supervisor2 conflict"
When I try to use both **rabbitmq-erlang-client** and **riak-core** a conflict is detect at release construction for **gen_server2** and supervisor2 exists in both applications. I am not sure which party is supposed to fix this so I created a defect against both projects project. The resolution would probably be to prefix the custom behavior with the project name.

[2012-08-12 03:34] #3 closed, assigned to nobody

[2014-03-03 20:21] linearregression opened #4 "missing spec handle_server_cancel"

[2014-03-03 20:24] #4 closed, assigned to nobody

[2014-03-10 08:55] #2 closed, assigned to nobody

[2014-10-22 18:37] pma opened #9 "Compiler warning: unused variable Node"
Line:
https://github.com/rabbitmq/rabbitmq-erlang-client/blob/master/src/amqp_direct_connection.erl#L78

Compiler warning:
`src/amqp_direct_connection.erl:78: Warning: variable 'Node' is unused`

[2014-10-23 06:31] #9 closed, assigned to nobody

[2014-12-03 14:43] brendanmaguire opened #10 "badmatch in amqp_network_connection:handshake causes amqp_connection:start to fail"
We sometimes get the following error in our application which seems to occur because an error happens during the connection handshake.

[code]

I'm not sure if it's a bug, or if we should be catching the issue in some other way? This code segment is pretty similar to what we have in production:

[code]

Looking at the code at amqp_network_connection.erl , line 190, it seems that we are expecting t

[2014-12-03 21:33] #10 closed, assigned to nobody

[2015-03-13 10:08] gotthardp opened #11 "Direct connection reports server shutdown as error"
amqp_direct_connection.handle_message({'DOWN', ...}, State) does not distinguish between the various reasons. As a consequence, the normal shutdown (rabbitmqctl stop) does generate an error report in the log file. (Can be reproduced by enabling the rabbitmq-metronome and setting log_levels={connection, debug}).

It think it would be better to handle the normal shutdown as a special case and not em

[2015-04-18 11:07] #11 closed

[2015-09-11 12:06] jlouis opened #17 "Clarifying the error behavior of the Erlang client"
Hi,

The Erlang client needs some clarification on what you should do once error conditions happens. At least as documentation. The problem is that the responsibility split between the Client code and your application is not documented.

Typical error conditions:

* One process opens a connection. Another process opens a channel on that connection and begins queue consumption. The other process di

[2015-09-19 16:21] michaelklishin opened #18 "New behaviours in master are missing from rabbit_common"
As pointed out by @videlalvaro.

[2015-09-19 20:20] #18 closed

[2015-11-11 20:39] tsloughter opened #23 "Crash dump running make"
OTP-18.1.3 installed through erln8. Checked out `master` of this repo and ran `make`:

[code]

[2015-11-11 20:44] michaelklishin commented on #23
@tsloughter I cannot reproduce either standalone or as part of [RabbitMQ public umbrella](https://github.com/rabbitmq/rabbitmq-public-umbrella).

A quick search suggests this is a [shell expansion problem](https://gist.github.com/robertoaloi/1184144). What OS and make version is this on?

[2015-11-11 20:46] tsloughter commented on #23
Ah yup, looks like that is what it is. I'm on Ubuntu 15.10. I can close this since it isn't a rabbitmq related issue. Thanks!

[2015-11-11 20:46] #23 closed

[2015-11-11 20:47] michaelklishin commented on #23
@tsloughter np. Do you use standard Ubuntu shell or something else?

[2015-11-11 20:48] tsloughter commented on #23
zsh

[2015-11-11 20:49] tsloughter commented on #23
But if it is using `/bin/sh` that'll be dash maybe.

[2015-11-11 21:02] michaelklishin commented on #23
I tried OS X with zsh 5.1 and Ubuntu 15.04 with dash.

[2015-11-21 23:06] essen opened #24 "Build fails with Python 3"
I suspect a large number of users have Python 3 by default nowadays.

[2015-11-21 23:08] michaelklishin commented on #24
We've managed to convert management tools to be compatible with both 2.7 and 3.x. Ideally we should do the same here.

[2015-11-26 14:35] essen commented on #17
Removing myself as assignee because I have other tasks at the moment. I initially put myself because I know what improvements should be made, but maybe someone else also does.

[2015-12-03 14:04] michaelklishin opened #25 "Enable heartbeats by default"
Disabled heartbeats is not a great default.

Default values in the 10-20 seconds range work well for a lot of users, including those using Federation and Shovel plugins.

[2015-12-03 18:25] #25 closed

[2015-12-15 16:14] dumbbell opened #27 "Seqno reset to 1 on every confirm.select"
The [Confirms extension specification](http://www.rabbitmq.com/confirms.html) states:

That's what RabbitMQ does in `rabbit_channel.erl`:

1. The sequence number is set to 1 during channel init:

[code]
2. When a `confirm.select` is received, a single flag is toggled and the sequence number is left untouched:

[code]

Unfortunately, rabbitmq-erlang-client resets the seqno to 1 with every `confirm.

[2015-12-15 16:18] dumbbell commented on #27
The problem was discovered with `make standalone-tests FILTER=eager_sync:eager_sync`: the testcase hangs forever because it waits for confirms for messages in the range 1..2000 (its seqno was reset after the second `confirm.select`), whereas the broker sends ACKs for messages in the range 4001..6000.

What is weird is that Travis CI reproduces the hang 100% of the time. I can reproduce it 90% of t

[2015-12-15 21:50] #27 closed

[2015-12-16 17:33] binarin opened #29 "Couldn't build client from source tarball"
After downloading and unpacking
https://www.rabbitmq.com/releases/rabbitmq-erlang-client/v3.5.7/amqp_client-3.5.7-src.tar.gz

`make` fails due to dependency on file named `../rabbitmq-server/generate_deps`:

[code]

[2015-12-17 11:23] binarin commented on #29
I've checked, the `generate_deps` is the only missing file that prevents the package from building. But probably it's not worth fixing, given the switch to erlang.mk.

[2015-12-17 13:16] michaelklishin commented on #29
@binarin thanks, should we close this then?

[2015-12-17 13:32] binarin commented on #29
Yes

[2015-12-17 13:32] #29 closed

[2016-01-27 15:17] binarin opened #32 "Using amqp_client as dependency - no debug_info in built modules"
When starting erlang.mk project from scratch with `amqp_client` in dependencies, every module from this library is built without `debug_info`. Only `amqp_client` modules are affected, e.g. modules from `rabbit_common` has this option.

Minimal steps to reproduce:
[code]

[code]

[2016-01-29 16:31] binarin commented on #32
@essen ping. Exactly as you were asking on twitter :smile:

I've looked into it, `deps/amqp_client/erlang.mk` contains only single line:
[code]

I've added
[code]
there and everything started to work. It looks like that line should be added automatically like at https://github.com/ninenines/erlang.mk/blob/06e9fbf4a93d182328c52503b187c4e83c9dc085/core/deps.mk#L136 - but it didn't.

[2016-01-29 16:51] essen commented on #32
I'll take a look on Monday.

[2016-02-01 09:51] essen commented on #32
There is no issue with the patching because this is what is run: https://github.com/ninenines/erlang.mk/blob/06e9fbf4a93d182328c52503b187c4e83c9dc085/core/deps.mk#L124

Looking into why ERLC_OPTS is empty now.

[2016-02-01 10:04] essen commented on #32
The problem comes from the most recent rabbit-common commit, this file in particular: https://github.com/rabbitmq/rabbitmq-common/commit/150fbe197512b5b3ecfffed55afbbc3811c06c83#diff-ab44287f26c99529cf030b1469c0f69dR1

Doing this unfortunately overrides ERLC_OPTS because the defaults are defined only after, using `?=`. The defaults are not applied because `+=` takes precedence. This file probably

[2016-02-01 10:05] essen commented on #32
@dumbbell If you're OK with my assessment I can send a patch that defines ERLC_OPTS fully in that file.

[2016-02-01 10:06] michaelklishin commented on #32
@essen @dumbbell is on holiday atm. We definitely trust your judgement when it comes to erlang.mk ;)
I personally think fixing the issue and using the exact value is fine; we can correct it later as the change is in master only and won't be in a production release for some time.

[2016-02-01 10:07] essen commented on #32
Alright then.

[2016-02-01 10:32] essen commented on #32
To be honest I think it would be better if Erlang.mk defined this variable earlier (before plugins). I opened a ticket at https://github.com/ninenines/erlang.mk/issues/502 to track this issue.

In the meantime I will simply temporarily define ERLC_OPTS in the amqp_client's Makefile on master, with a note saying to remove it once Erlang.mk gets fixed and updated (no problems if it's not removed tho

[2016-02-01 10:44] #32 closed

[2016-02-16 16:54] lazedo opened #35 "add rebar.config to makefile"
Hi,
how about  adding

[code]

to the makefile the way ninenines does for `cowboy` ?

[2016-02-16 17:24] hairyhum commented on #35
Hi,
What would be a purpose for this?

[2016-02-16 17:29] essen commented on #35
It would automatically generate a rebar.config file with valid dependencies and options. This rebar.config file can then be committed to provide compatibility for users of rebar based tools.

@lazedo Have you tried it, does the generated file work?

[2016-02-24 23:10] Giri-Chintala opened #36 "Unable to use TLS private key password parameter"
Current version of the client doesn't support password enabled SSL private-key although password is a standard TLS library.

The password option is not white listed in the client. See line 169 in https://github.com/rabbitmq/rabbitmq-erlang-client/blob/master/src/amqp_uri.erl

Here is the reference to discussion on this issue in google groups.
https://groups.google.com/forum/#!searchin/rabbitmq-use

[2016-02-25 06:40] michaelklishin commented on #36
This is straightforward enough to get into `3.6.1` still. I'll look into it this week.

[2016-02-25 18:50] #36 closed

[2016-03-03 12:15] michaelklishin commented on #35
@lazedo hi, is this still relevant? have you tried what @essen had suggested?

[2016-03-03 14:33] lazedo commented on #35
@michaelklishin yes, its relevant. i tried and it creates the rebar.config. can you add
[code]
to the Makefile in this repo and also to rabbitmq_common ?
Thanks

[2016-03-08 12:22] dumbbell opened #39 "Switch testsuite to common_test"

[2016-03-09 15:57] essen commented on #35
Unfortunately it currently does not create a proper rebar.config file.

[2016-03-23 12:03] jlouis opened #41 "The client fails to compile on Erlang/OTP release 19.x"
Hi, just a quick heads up for things which will change in 19.x:

https://github.com/rabbitmq/rabbitmq-erlang-client/blob/master/include/amqp_gen_consumer_spec.hrl#L30-L42

The `-spec(init/1 :: ...)` form is supposedly going away and is not allowed anymore as a form. This means the current version of the `amqp_client` will not compile on this release. It is still some months out in the future, so t

[2016-03-23 12:22] michaelklishin commented on #41
Thank you for the heads-up!

[2016-03-29 13:54] dumbbell opened #42 "Race condition during a channel failure handling"
While working on moving the testsuite to common_test (#39), I got transient failures with cases testing channel-level errors, especially:
 * `shortstr_overflow_property`
 * `shortstr_overflow_field`
 * `channel_writer_death`

The problem comes from a race condition in the supervision tree for a particular channel when using a network connection (as opposed to direct Erlang communication). The supe

[2016-03-29 14:00] michaelklishin commented on #42
@dumbbell can this go into `3.6.x`?

[2016-03-29 14:02] dumbbell commented on #42
Yes, I believe so. I'm preparing the pull request.

[2016-03-29 14:03] dumbbell commented on #42
I wonder if this issue is related to #17.

[2016-03-31 09:34] #39 closed

[2016-04-02 04:32] jamesaimonetti opened #44 "Why not return the gen_server:start_link/3 directly"
Looking at the [amqp_rpc_server:start_link/3](https://github.com/rabbitmq/rabbitmq-erlang-client/blob/master/src/amqp_rpc_server.erl#L65), why not just return the result of `gen_server:start_link/3`? If I want to start these under a `simple_one_for_one` supervisor, `supervisor:start_child/2` expects the tuples and not a raw `pid()`.

Just curious what the reasoning is for raw pids as a return inst

[2016-04-02 11:40] michaelklishin commented on #44
I doubt there's a big idea behind this, it was introduced close to 3 years ago in https://github.com/rabbitmq/rabbitmq-erlang-client/commit/1c3a50e7b75ad5d036814fc7a5e0c8517ceb4420.

I think your suggestion makes sense. Keep in mind that the RPC server is mostly an example. We don't assume it's the best (or the only reasonable) implementation out there.

[2016-04-02 11:41] michaelklishin commented on #44
I think we can make this change for 3.7.0. @dumbbell @hairyhum @essen WDYT?

[2016-04-04 20:21] jamesaimonetti commented on #44
@michaelklishin thanks, was just using it while doing a PoC. Works fine in the prototype. Will keep this in mind when we get to more serious implementations. Thanks!

[2016-04-06 18:44] fenollp commented on #35
Not having this `rebar.config` makes it a little more difficult than usual to use the AMQP Erlang client as a part of another project.
@essen Can you work on this?

[2016-04-06 19:16] michaelklishin commented on #35
@fenollp we are definitely interested in making it easier to depend on this client. @essen @dumbbell is it fair to say that erlang.mk needs to be extended before we can provide a `rebar.config`?

[2016-04-06 19:24] essen commented on #35
Yes there's a few small changes to make. I can do them next week if you want.

[2016-04-06 19:27] michaelklishin commented on #35
@essen I think finishing a few management plugin issues in play is more important but we can look into it  after that.

[2016-04-18 14:56] bdshroyer opened #46 "Add Concourse CI directory to Erlang client"
Add a `ci/` directory containing the files necessary to execute the client's tests via Concourse.

[2016-04-20 19:01] #46 closed

[2016-04-21 21:52] bdshroyer opened #48 "Implement Erlang client test script for Concourse"
Create a script and accompanying task YAML that we can use to test the Erlang client as part of a Concourse pipeline.

[2016-04-22 07:01] michaelklishin opened #49 "(Standalone repo) compilation failure in master"
From a failed nightly build:

[code]

[2016-04-22 08:34] dumbbell commented on #49
Fixed in cf80c44efc65942bd90753343453412fa2819083.

[2016-04-22 08:34] #49 closed

[2016-05-13 13:29] tiagodeoliveira opened #52 "Capability to access connection properties (direct connection)"
The amqp_connection returns a bunch of information about connection itself, but in some cases there is the need to get even more information that is returned using info keys. Using the _info_key user_ for instance, it will return filtered information about the user:
`i(user,              #state{params = P})       -> P#amqp_params_direct.username;`

The problem is that the direct connection returns

[2016-05-13 13:56] hairyhum commented on #52
For this specific use there can be just one additional info item (e.g. `internal_user`) to report internal user representation.

[2016-05-13 14:12] tiagodeoliveira commented on #52
Perfect, I'll do the PR. Thanks a bunch @hairyhum.

[2016-05-18 16:01] #48 closed

[2016-05-20 07:24] qingchuwudi opened #57 "some call errors"
I'm trying to use -client , and confused about errors throwed by program.
I fllowed `system_SUITE:queue_unbind/1 ` But errors are throwed when  setting Exchange and Queue :
[code]
[code]
code review `amqp_channel.erl`
[code]
goto **line 573**, then **line 888** ,and `{noreply, State}` returned for **`call`** as a result!!

What's wrong  with above steps?
What should do to make it OK?

I have had t

[2016-05-20 07:26] michaelklishin commented on #57
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

`noproc` means a process you are trying to use (e.g. a channel process) has terminated. See RabbitMQ log for clues as to why that might be, e.g. you could run into a channel [protocol-level] exception.

[2016-05-20 07:26] #57 closed

[2016-05-20 08:13] qingchuwudi commented on #57
Got it.
But on **branch : master** , module `amqp_channel.erl` and api `amqp_channel:call/2` .

`handle_method_to_server/6` return a `cast` resp to  `call`.

[2016-05-21 10:40] michaelklishin opened #59 "amqp_connection:close/4 should be public"

[2016-06-18 06:32] dcy opened #62 "compile error"
Hi! the latest code can not compile.
[code]

[2016-06-18 07:05] michaelklishin commented on #62
You need to make sure your `rabbit_common` is up-to-date with this client: [WORKER_WAIT is defined there](https://github.com/rabbitmq/rabbitmq-common/blob/master/include/rabbit.hrl#L157).

[2016-06-18 07:05] #62 closed

[2016-06-18 07:11] dcy commented on #62
Sorry. Because i use rebar3, so i use this https://github.com/jbrisbin/rabbit_common.
This repo has not updated.

[2016-06-25 21:24] jlouis commented on #41
Gentle bump. This will soon become a problem for many. I can do the patch if necessary, and I think it falls outside the need for signing a contributor agreement. It is just a simple substitution.

Do you have work on this already, or should I go ahead and write a patch?

[2016-06-25 21:47] dsrosario commented on #41
Hi,
This is a problem as Erlang OTP 19 is released. Please check my pull request (https://github.com/rabbitmq/rabbitmq-erlang-client/pull/63) for the patch.

[2016-06-26 14:28] michaelklishin commented on #41
Fixed by @dsrosario in https://github.com/rabbitmq/rabbitmq-erlang-client/pull/63.

[2016-06-26 14:28] #41 closed

[2016-06-26 15:11] #59 closed

[2016-07-05 10:28] swvist commented on #35
Hello everyone! Any updates on this? Official client supporting rebar3 will be great considering that the community pretty much is moving forward with this. A (not up to date) fork of this seems quiet popular on [hex.pm](https://hex.pm/packages/amqp_client/3.5.6) if the download numbers are any indicator of popularity.

[2016-08-29 08:27] jwjgauss opened #67 "what does the error mean:"unexpected_delivery_and_no_default_consumer""
I use rabbitmq-erlang-client rabbitmq_2.7.0 in my production env. Recently, I have found some error as "unexpected_delivery_and_no_default_consumer" in my server app log.
<pre>
2016-08-26 15:25:00.465 [error] <0.1623.0> CRASH REPORT Process <0.1623.0> with 0 neighbours exited with reason: {unexpected_delivery_and_no_default_consumer,{gen_server2,call,[<0.1622.0>,{consumer_call,{'basic.deliver',<<"

[2016-08-29 08:57] michaelklishin commented on #67
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-08-29 08:57] #67 closed

[2016-08-29 08:57] michaelklishin commented on #67
A channel has received a delivery but it has consumer to dispatch it to and no default consumer to fall back to.

[2016-08-31 08:26] kjnilsson opened #68 "Test failures on master"
`no_vhost` and `non_existent_vhost` fail reliably due to unexpected return code when a vhost isn't found.

[2016-09-22 21:12] maximilyin opened #71 "Connections and channels don't restart after crash"
When a process of connect or a process of channel is down after supervisor don't restart them. Because sepervisor use restart strategy  {one_for_all, 0, 1}. Why it so? Why then need a supervisor over connections and channels processes?

[2016-09-23 06:53] michaelklishin commented on #71
It's a good question and the strategy goes back to https://github.com/rabbitmq/rabbitmq-erlang-client/commit/52435e6a414da689fda7f6a9c226a01f46194cf9, which is over 6 years old. We'll need to discuss this with the team.

[2016-10-27 19:51] #68 closed

[2016-11-16 23:05] max-vogler commented on #35
Any updates?

[2016-11-17 05:56] michaelklishin commented on #35
No updates.

@essen can you explain what Cowboy does and whether we can do the same thing in this repo (or even for all RabbitMQ repositories)?

[2016-11-24 16:54] nestor5 opened #72 "rabbitmq-erlang-client should define deps of syntax_tools and compiler"
with amqp_client in DEPS, release built by erlang.mk can't start:

{{function_clause,[{amqp_gen_connection,terminate,[{undef,[{erl_syntax,form_list,[[{attribute,1,file,{"src/time_compat.erl",1}},...

after adding syntax_tools into LOCAL_DEPS:

{{function_clause,[{amqp_gen_connection,terminate,[{undef,[{compile,forms,[[{attribute,1,file,{"src/time_compat.erl",1}},...

adding compiler into LOCAL_DEP

[2016-11-24 17:07] essen commented on #72
PR ready to review and merge.

[2016-11-24 18:46] #72 closed

[2016-11-24 18:46] michaelklishin commented on #72
Thank you, @nestor5 and @essen .

[2016-11-25 12:09] michaelklishin commented on #72
FTR, we had to do https://github.com/rabbitmq/rabbitmq-erlang-client/commit/712f7b341b3aac20f8fdbb23fd960aea4d0f1f0f as well.

[2016-12-13 21:37] JoshRagem commented on #35
I have a sort of workaround for this:

[code]

it's just a small plugin that runs `make` after cloning a dependency. It only works for master because of something in the makefile system that I did not investigate.

[2016-12-13 21:41] essen commented on #35
I will experiment tomorrow.

[2016-12-13 21:46] michaelklishin commented on #35
@JoshRagem thank you for sharing the workaround!

[2016-12-13 21:51] essen commented on #35
Normally all we need is to add `app:: rebar.config` to the Makefile, but I'll confirm. :-)

[2016-12-14 09:35] essen commented on #35
We got three solutions for this.

1) We make it fully compatible with rebar and rebar3 by adding a few things to the Makefile (non intrusive) and committing the .app file for both amqp_client and rabbit_common (it will need to be committed only every time a module is added/removed, the default environment variables change, version change, and so on).

2) We use a rebar plugin; problem is that reba

[2016-12-14 09:43] dumbbell commented on #35
I'm currently working on publishing those two projects to Hex.pm. The finaly goal is to automate that and make it part of the steps when we publish a release.

If we have proper packages on Hex.pm, including `amqp_client` pulling `rabbit_common` from Hex.pm, is it enough? Required files could be generated just for this purpose, instead of being committed to Git.

[2016-12-14 10:03] essen commented on #35
It's enough for rebar3 but not rebar (unless rebar received a hex plugin I didn't hear about?). That said, rebar is deprecated and while it still has a fairly large user base, it's presumably only going to get smaller. On the other hand, moving an environment from rebar to rebar3 is no simple task, so there'll probably be rebar users for many more years. Hex-only is fine by me but I shouldn't be t

[2016-12-14 10:28] essen commented on #35
For future reference, this is what is necessary to do for creating a rebar.config in amqp_client:

[code]

There is no need for a rebar.config in rabbit_common AFAICT. On the other hand the .app would have to be committed with this method.

[2016-12-14 11:44] dumbbell commented on #35
Thank you @essen!

As a first step, we'll publish `rabbit_common` and `amqp_client` to Hex.pm which will be enough for rebar3.

To support rebar2, we would have to commit the `.app` file to Git which doesn't play well with our current Git workflow. Thus we won't add support for it right now, but we may do so in the future.

@lazedo, @fenollp, @max-vogler, @swvist, @JoshRagem, is rebar3/Hex.pm supp

[2016-12-14 13:44] JoshRagem commented on #35
rebar3/hex.pm is the solution I prefer

[2016-12-15 17:29] JoshRagem opened #73 "no persistent=true for basic.publish?"
In the examples (like [elixer](http://www.rabbitmq.com/tutorials/tutorial-two-elixir.html) job queue) there is a section about message durability that seems to indicate that a restart will lose messages unless the messages are published with `persistent=true`. I'm unable to find any feature in the erlang client that supports this.

[2016-12-15 17:37] michaelklishin commented on #73
delivery_mode = 2.

[2016-12-15 17:37] #73 closed

[2016-12-15 17:37] michaelklishin commented on #73
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-12-15 17:38] michaelklishin commented on #73
There is no "persistent" property in the protocol, there's `delivery_mode` that is 1 (transient) or 2 (persistent). Other clients simply provide a nicer way to set it.

[2016-12-16 17:14] dumbbell commented on #35
We published up-to-date versions of `rabbit_common` and `amqp_client` to Hex.pm, including the documentation of the Erlang client.

The version is set to 3.6.7-pre.1 because they include commits made after 3.6.6 (including preparation for Hex.pm), but we are not yet at 3.6.7. In the future, we will only publish releases, not work in progress.

[2017-01-05 16:32] nardopessoa opened #74 "Publish version 3.6.6 on hex"
Hey, it seems the version 3.6.6 is not on [hex](https://hex.pm/) although it is tagged in the git repository.
Can you publish it?

Thanks a lot

[2017-01-05 16:34] michaelklishin commented on #74
Sorry but we won't publish `3.6.6` to hex.pm. `3.6.7` will be on hex.pm shortly after that version is released.

[2017-01-05 16:34] #74 closed

[2017-01-05 16:36] michaelklishin commented on #74
There's a `3.6.7` milestone up on hex.pm already IIRC. Just use that. It should be just as good as `3.6.6`.

[2017-03-08 08:33] michaelklishin opened #76 "Parse URIs that are binaries"
See https://github.com/rabbitmq/rabbitmq-shovel/issues/29. Limiting inputs to lists complicates things for Shovel and Federation plugin users in some cases.

[2017-03-08 14:54] #76 closed

[2017-06-01 14:45] sammyraul opened #81 "Cannot connect to Broker"
Hello,

I am unable to connect to RabbitMQ server using the erlang client. here's what I have done.

-module(producer).

-include("deps/amqp_client/include/amqp_client.hrl").

-export([produce/0]).

produce() ->
	io:format("Trying to connect"),
	{ok, Connection} = amqp_connection:start(#amqp_params_network{host="127.0.0.1"}).

Server is running on localhost (netstat output)

tcp        0      0 0.

[2017-06-01 14:48] michaelklishin commented on #81
Thank you for your time.

Team RabbitMQ uses GitHub issues for specific actionable items engineers can work on. This assumes two things:

1. GitHub issues are not used for questions, investigations, root cause analysis, discussions of potential issues, etc (as defined by this team)
2. We have a certain amount of information to work with

We get at least a dozen of questions through various venues

[2017-06-01 14:48] #81 closed

[2017-06-01 15:12] michaelklishin commented on #81
[Mailing list thread](https://groups.google.com/forum/#!topic/rabbitmq-users/P9AF6QKidfc).

[2017-06-09 18:08] lukebakken opened #82 "Improve documentation for using AMQP headers with Erlang client"
I also ran into the same issue [described here](https://stackoverflow.com/questions/19408705/how-to-use-message-headers-in-rabbitmqs-erlang-client). Without looking at the type specs, you may not know that `P_basic` headers are a three-tuple.

[2017-06-10 22:47] michaelklishin opened #83 "Log noise when direct connection is rejected due to missing vhost or insufficient permissions"
Can be reproduced with [rabbithole](https://github.com/michaelklishin/rabbit-hole) without running the setup steps:

[code]

This process termination is harmless (the connection is terminating anyway) but it would be great to avoid polluting the log with scary looking messages.

[2017-06-12 08:44] #83 closed

[2017-06-14 07:44] michaelklishin opened #85 "amqp_gen_connection uses timeouts of `infinity`"
We've already seen plenty of times in various RabbitMQ sub-projects that it leads to operational problems eventually.

Let's change to a bounded timeout, e.g. 30 or 60 seconds.

[2017-06-15 18:48] #85 closed

[2017-08-29 09:58] binarin opened #91 "Direct connections from outside of RabbitMQ will fail in stable"
Direct connections work from within the broker itself, but any project which depends only on `amqp_client` is broken (like https://github.com/pma/amqp/issues/73)

This happened because in https://github.com/rabbitmq/rabbitmq-common/commit/81b5eabc6b705b2e35ecf444ee25a7a86ac244d9#diff-7159eb0974065867f293d7148ba5036aL1 `rabbit_queue_collector` module was removed from `rabbit_common`, but it's still

[2017-08-29 14:51] michaelklishin commented on #91
@binarin thanks. Would you be interested in submitting a PR? I think the right thing to do here is to find a way for `rabbitmq-common` to not have a dependency on `rabbit_queue_collector`. Queue collector's original purpose was to clean up exclusive queues when certain events (well, their connection closure) happens.

[2017-08-29 15:17] binarin commented on #91
No, I don't think that I'll have any free time soon.

[2017-08-29 15:29] michaelklishin commented on #91
No worries, thanks for the report!

On Tue, Aug 29, 2017 at 9:17 AM, Alexey Lebedeff <notifications@github.com>
wrote:

--
MK

Staff Software Engineer, Pivotal/RabbitMQ

[2017-10-08 11:48] ono opened #93 "Issue with blocked connection"
We had an issue with blocked connections which could cause the serious damage to your system.

## Steps to replicate the issue

#### Step 1. create a test queue on Rabbit MQ

Let's name it `test`.

#### Step 2. simulate the blocked connection by setting lower memory threshold

For example, set the following value in your `rabbitmq.config`.

[code]

Then restart RabbitMQ and try making a connection

[2017-10-08 19:37] michaelklishin commented on #93
This works [as expected](http://www.rabbitmq.com/alarms.html). A blank node usually uses 70-80 MB of RAM on a 64 bit machine, so it immediately goes into the alarm and any connection that publishes will be blocked. There are very visible entries in the log about this.

[2017-10-08 19:38] michaelklishin commented on #93
And your connection state is not blocked, it is "blocking", which means as soon as you publish, it will be blocked. You could consume on that connection just fine.

[2017-10-08 19:40] michaelklishin commented on #93
Clients can [register notifications](http://www.rabbitmq.com/connection-blocked.html) for when a connection is blocked or unblocked. If you have further questions, please take them to rabbitmq-users, our mailing list.

[2017-10-08 19:54] ono commented on #93
Thanks for the response but i wonder if the issue was understood correctly.

The problem I'm reporting is that it does NOT block the publish. `basic.publish` accepts the call and returns `ok` instead of `blocking`. And `amqp_channel:close/1` never return any state - the program just stops there.

Have you tried to run the sample code with the steps I provided? I will be very surprised if that's in

[2017-10-08 20:21] michaelklishin commented on #93
Thank you for your time.

Team RabbitMQ uses GitHub issues for specific actionable items engineers can work on. This assumes two things:

1. GitHub issues are not used for questions, investigations, root cause analysis, discussions of potential issues, etc (as defined by this team)
2. We have a certain amount of information to work with

We get at least a dozen of questions through various venues

[2017-10-08 20:21] #93 closed

[2017-10-08 20:24] michaelklishin commented on #93
@ono `basic.publish` is an entirely asynchronous operation. The client has no way of knowing what happened to the message besides [using publisher confirms](http://www.rabbitmq.com/confirms.html). When an alarm is in effect, connections transition to the `blocking` state I've mentioned before. This is because we do not want to block consumers. As soon as a `basic.publish`, a content header (messag

[2018-01-26 13:12] Ayanda-D opened #102 "Never temper with an external process's memory space"
Timeouts which were added in #86, via `amqp_util`, temper with the calling process's memory space. This is generally a forbidden action for any consumable lib. If ever any Erlang process using the erlang client sets a local `:gen_server_call_timeout` in its process dictionary (of which we have no control over whats external apps do, and wouldn't want to put such restrictions on community users), t

[2018-03-08 15:27] derekkraan opened #103 "header value `nil` causes error (but `publish` reports `:ok`)"
Hi folks,

I'm pretty sure this is a bug, but I just want to make sure before I make an attempt to fix it.

If I publish a message with a header with value `nil`, then I get return value `:ok`, but the message isn't delivered to rabbitmq at all. Instead some process dies, and with it, the message.

Here's a simple example (apologies, this is Elixir code written with the AMQP library, but it calls

[2018-03-08 15:39] michaelklishin commented on #103
This is not a bug. A headers table (map) is not a table in your case, it's a tuple, so `rabbit_binary_generator:generate_table/1` refuses to accept it.

[2018-03-08 15:39] #103 closed

[2018-03-08 15:46] michaelklishin commented on #103
To clarify: the value is *not* expected to be a map. It must be a list of triplets, `{name, type, value}`. From the generated parser code:

[code]

[2018-03-08 15:49] derekkraan commented on #103
`[{"foo", :longstr, nil}]` is not a map, it is a list of triplets.

And besides that, returning `:ok` and subsequently failing silently to deliver a message to rabbitmq doesn't seem like desired behaviour.

[2018-03-08 15:51] derekkraan commented on #103
Thanks for commenting so quickly btw.

[2018-03-08 15:54] michaelklishin commented on #103
I don't see how the value in `[headers: {"foo", :longstr, nil}]` is an expected list, or even a map. We'd consider a PR that adds basic sanity checking to but the problem here comes down to the fact that channels are not responsible for serialisation, connections are.

[2018-03-08 15:56] derekkraan commented on #103
Just in case: I'm using Elixir syntax because my Erlang is too rusty to rely on. That might be why it doesn't look like anything you'd recognize.

[2018-03-08 15:57] michaelklishin commented on #103
Erlang doesn't have the concept of `nil`, so even if your code example contains a typo (it passes a tuple for `headers` and not a list), you cannot pass a `nil` from Elixir and assume the client will know what to do with it. The atom `undefined` is how `nil`/`null` and such are usually expressed. Or just leave the header out entirely.

Our team does not use GitHub issues for questions and discussi

[2018-03-08 15:58] michaelklishin commented on #103
@derekkraan thanks, our team is [capable of reading Elixir](https://github.com/rabbitmq/rabbitmq-cli).

[2018-03-08 16:00] derekkraan commented on #103
That wasn't intended as an insult by the way, I just wasn't sure why we can't agree on the definition of a list or a tuple.

Anyways, message received, this isn't the place for discussion.

[2018-03-08 16:04] michaelklishin commented on #103
There is no confusion about lists or tuples. They are no different between Erlang and Elixir. Your code clearly passes a single header instead of a list, I don't know if that's a typo or not. Either way, the value you want is

[code]

[code]

[2018-03-08 16:15] derekkraan commented on #103
You're right, I was missing a list in the example.

If I run this example with the missing list, then the result is the same. The library says `:ok` and the rabbit_writer dies in the background without having delivered the message to rabbitmq. I could paste in the whole stacktrace but that's not quite the point ([it comes out to this line](https://github.com/rabbitmq/rabbitmq-common/blob/master/sr

[2018-03-08 16:18] lukebakken commented on #103
IMHO that is definitely a problem.

[2018-03-08 16:20] michaelklishin commented on #103
Like I said earlier we'd appreciate a PR that makes `basic_publish` validate the inputs earlier. It's not obvious how we can do this without going through the protocol generator twice (which channels should not do) but there are no objections to the idea.

[2018-03-08 16:49] michaelklishin opened #104 "Improve property structure validation for basic.publish frames"
See #103. Headers are particularly error-prone. Since publishing is entirely asynchronous in both this client and the protocol, and channels do not perform serialisation, it is not obvious how this can be done without

 * Incurring a double serialization cost penalty
 * Rearranging too many things

But perhaps there can be a way to check that, for example, a delivery mode is a value from a known s

[2018-04-09 19:39] michaelstalker commented on #71
What did you all decide about the restart strategy?

[2018-04-10 12:25] michaelklishin commented on #71
@michaelstalker I don't have any updates on this.

[2018-06-05 08:17] binarin commented on #91
For direct connections `rabbit_queue_collector` is running on the wrong side of connection - on client. So e.g. in case of network split between client and server it doesn't have a chance to perform a proper cleanup. But the cleanup is still performed due to some other links/monitors set-up during channel opening process. I think that it's better to make all this explicit and just start a collecto

[2018-08-09 15:26] lukebakken opened #107 "Address two AMQP URI parsing edge cases"
See rabbitmq/rabbitmq-server#1663

Currently, an absent `host` parameter indicates that a direct connection is to be created, even if the `port` parameter is present. We should consider the presence of `port` without `host` to be an error.

[2018-08-09 16:00] #107 closed

[2018-10-02 01:45] yjh0502 opened #109 "Allow default exchange on rabbit_routing_util:parse_endpoint/1"
It seems that `rabbit_routing_util:parse_endpoint/1` disallow exchange with empty name. Could we change it as empty exchange name refers to default exchange?

https://github.com/rabbitmq/rabbitmq-erlang-client/blob/d776a98fbba46a27869ed9ef8424b4e504b5b03c/src/rabbit_routing_util.erl#L65-L66

[2018-10-02 02:16] michaelklishin commented on #109
Last time that function was changed was 6 years ago. It's something we'd have to discuss on our team. What's the use case?

[2018-10-02 06:16] yjh0502 commented on #109
`rabbitmq-stomp` relies on `rabbit_routing_util:parse_endpoint/1` for routing. As a result there's no way to send message to default exchange with `stomp` plugin. The problem can be fixed by either client side or plugin side. I think fixing it on client side is better because empty exchange name is actually valid.

https://github.com/rabbitmq/rabbitmq-stomp/blob/00c9fff6229a8af90339b57250b7d45ed69

[2018-10-02 08:29] hairyhum commented on #109
@yjh0502 to send messages to default exchange, you should use the `/queue/<queuename>` destination as stated in the stomp plugin docs: https://www.rabbitmq.com/stomp.html
This is a special case designed for default exchange.

[2018-10-02 11:18] michaelklishin commented on #109
I think the reason is a lot more boring: it's pretty confusing to use an empty string as a target in a URI, so `/queue/{name}` was used instead. In some other cases (CLI) we use `amq.default`. So I think given the use case the answer here is "we should not allow empty exchange names". Thank you for bringing this up, though :)

[2018-10-02 11:18] #109 closed

[2018-10-02 11:27] michaelklishin commented on #109
Exclusive queues are not meant to have well-known names. Use `/amq/queue` or a topic. This is quickly becoming mailing list material.

[2018-10-02 11:36] yjh0502 commented on #109
Thanks for the comment!

[2018-10-21 09:40] tcoopman opened #110 "Why does killing a channel also kill the connection?"
I've first created this issue on the elixir client for amqp (https://github.com/pma/amqp/issues/112) but seeing it uses the erlang client underneed, I guess this is a better place for my question.

I'm going to repeat the issue here with the elixir syntax:

[code]

I'm surprised that killing a channel also kills the connection. If I'm correct it's perfectly ok to have multiple channels over the sa

[2018-10-22 06:44] michaelklishin commented on #110
Thank you for your time.

Team RabbitMQ uses GitHub issues for specific actionable items engineers can work on. GitHub issues are not used for questions, investigations, root cause analysis, discussions of potential issues, etc (as defined by this team).

We get at least a dozen of questions through various venues every single day, often light on details.
At that rate GitHub issues can very quickl

[2018-10-22 06:44] #110 closed

[2018-10-22 06:44] michaelklishin commented on #110
Thank you for your time.

Team RabbitMQ uses GitHub issues for specific actionable items engineers can work on. GitHub issues are not used for questions, investigations, root cause analysis, discussions of potential issues, etc (as defined by this team).

We get at least a dozen of questions through various venues every single day, often light on details.
At that rate GitHub issues can very quickl

[2018-10-22 06:49] michaelklishin commented on #110
Closing a channel does not affect the connection and neither does a channel level protocol exception. When channel number 0 (not exposed to applications) exits, that's considered to be unrecoverable for its connection.

It's a good question what should happen when a channel process is killed outright. I don't see anything in the code that would obviously close connection process termination plus y

[2018-10-22 06:50] michaelklishin commented on #110
Closing a channel does not affect the connection and neither does a channel level protocol exception. When channel number 0 (not exposed to applications) exits, that's considered to be unrecoverable for its connection.

It's a good question what should happen when a channel process is killed outright. I don't see anything in the code that would obviously close connection process termination plus y

[2018-10-22 14:04] tcoopman commented on #110
Thanks. For completeness, I've posted this on rabbitmq-users: https://groups.google.com/forum/#!topic/rabbitmq-users/nztNPoft4Es

I've also validated that without the Elixir wrapper killing a channel also kills the connection.

[2018-11-17 09:03] dch commented on #71
This would be a useful clarification, given that there are many "wrapper" modules on hex.pm to handle exactly this scenario.

[2018-11-19 00:39] dch opened #112 "heartbeat=0 is negotiated but not actually respected"
## issue

An erlang client (or elixir that depends on this module) cannot be configured to run with disabled amqp-level heartbeats, and always accepts the default sent by the server - e.g. as recommended by cloudamqp. NB whether that is a good choice is not the intended purpose of this issue ;-)

In addition, I speculate that this same bug in the erlang client, causes the heartbeat sender on the s

[2018-11-19 00:50] michaelklishin commented on #112
Thank you for the detailed analysis. You haven't specified what version of RabbitMQ was used but my guess is that it was 3.7.8 at most. One part of your findings — the server not always using an interval computed from the negotiated value — seems to be addressed by https://github.com/rabbitmq/rabbitmq-common/pull/278.

The other part in this client matches https://github.com/rabbitmq/rabbitmq-java

[2018-11-19 00:50] #112 closed

[2018-11-19 01:05] michaelklishin commented on #112
I am updating the docs to clarify the negotiation process and how heartbeats can be disabled. This helped me go through the negotiation code one more time and I agree that the client code never worked as the docs (as of 3.0) claim it to be. That sucks but breaking client changes are a painful process to go through since there are so many of them and RabbitMQ users have come to expect any reasonabl

[2018-11-19 01:43] dch commented on #112
thanks Michael. For reference the client here is the erlang one and I’ve tested this against both 3.6.12, .14 and my 3.7.8 install. I agree that changing the server side is not an option and I’m fine with heartbeats in erlang and other clients that can support it. They’re there for a good reason.

[2018-11-19 01:47] michaelklishin commented on #112
To clarify: the server doesn't seem to be the problematic bit to me. It's the client logic that we tried to unify across all clients (the Java client is used here because it is the reference implementation for us) that negotiates to a max or min value, and never 0.

As far as the protocol goes, in AMQP 0-9-1 it's the client that has the final call.

[2018-11-19 14:44] lukebakken commented on #112
👍 to this

[2019-01-11 05:56] getong opened #113 "Please push 3.7.10 to hex.pm."

[2019-01-11 06:02] michaelklishin commented on #113
We won't be able to push 3.7.10. Due to a couple of Hex client changes and https://github.com/tsloughter/rebar3_hex/issues/87 the operation failed during the 3.7.10 GA release pipeline run. For reasons that are not very interesting we cannot retry this operation without rerunning all previous steps (100+ of them), which would mean effectively rebuilding the whole thing.

Hopefully 3.7.11 will be O

[2019-01-11 06:02] #113 closed

[2019-01-17 11:56] velimir opened #115 "publish latest version 3.7.10 to hex.pm"
currently latest available release 3.7.10 is not yet available on hex.pm:

<img width="819" alt="image" src="https://user-images.githubusercontent.com/709160/51317140-b18ba100-1a4e-11e9-9c8e-5981b2ac86de.png">

Website refers to the unknown version https://github.com/rabbitmq/rabbitmq-website/blob/f66fb36f6cfafd50c9fc00abcdb1d372da03ea25/site/rabbit.ent#L22

[2019-01-17 14:45] michaelklishin commented on #115
Consider looking through the issues before you file. Duplicate of #113.

[2019-01-17 14:45] #115 closed

[2019-01-31 17:38] michaelklishin commented on #115
[`3.7.11`](https://hex.pm/packages/amqp_client/3.7.11) is out.

[2019-01-31 17:39] michaelklishin commented on #113
[`3.7.11`](https://hex.pm/packages/amqp_client/3.7.11) is out.

[2019-02-01 00:07] getong commented on #113
Yes, I found it on the hex.pm, thanks.

[2019-03-07 13:31] #52 closed

[2019-03-19 12:35] ericmj opened #118 "Use SemVer for Hex dependencies"
Hex requires pacakges to use [semantic versioning](https://semver.org/). The packages `amqp_client` and `rabbit_common` uses strict version requirements on its dependencies which causes conflicts and ecosystem problems for users of those packages. Instead they should use the `~>` version requirement operator that follows the rules of SemVer. `~> 1.0` will depend on any stable version `>= 1.0.0 and

[2019-03-19 12:43] michaelklishin commented on #118
This client very likely will continue requiring the exactly identical `rabbit_common` version. `rabbit_common`'s dependencies perhaps can be relaxed. @dumbbell would there be any potential ramifications for the pipelines?

[2019-03-21 11:03] dumbbell commented on #118
RabbitMQ does not use semantic versioning for its own components currently. As @michaelklishin said, the `rabbit_common` version pinning in `amqp_client` is strict for this reason.

About the pinning of third-party dependencies, we also want strict pinning for the following reasons:
* We don't want third-party dependencies to be updated between the beginning of our CI pipeline and the end: what wa

[2019-03-21 11:05] dumbbell commented on #118
Note that Erlang.mk, the build tool we use, does not have a "lock" mechanism like other build tools, so we can't rely on such a thing.

[2019-03-21 11:08] ericmj commented on #118
This should not be be achieved by version pinning your package dependencies - what you want to do is pin your project dependencies. Rebar3 and mix support this out of the box with lock files.

If you use another build tool that does not support lock files I suggest changing the package metadata before publishing or listing project dependencies and package dependencies separately. I notice that you

[2019-03-21 11:20] michaelklishin commented on #118
What we need here is to relax `rabbit_common` dependencies in Hex metadata. @dumbbell can we add a Mix file to it just for dependency management at hex.pm release time? Pinning to a certain minor version of a dependency should work reasonably well in practice. Application developers can ping to a specific patch if needed.

[2019-03-28 14:03] dumbbell commented on #118
That's a good idea. Unfortunately, what we publish to Hex.pm still uses Erlang.mk as the build tool and it only accepts exact version pinning (it doesn't support the `-> x.y` syntax and logic).

Mix is not the build time, even after `rabbit_common` is published to Hex.pm, so we are still limited by what Erlang.mk provides.

[2019-03-28 16:25] ericmj commented on #118
There's a difference what the package metadata is and what the package contents are. You can have `~>` in the metadata and an exacter version in the Makefile config.

It seems like all the packages you publish support building with both Erlang.mk and rebar3, at least that's what is in the package metadata.

[2019-03-28 16:32] michaelklishin commented on #118
@ericmj we understand what you are proposing. It's mostly a matter of finding a way to do that that won't be too fragile and/or require substantial changes to our build system or pipeline. I think it's doable, we'll investigate soon. Thank you for the suggestion.

[2019-03-28 16:33] ericmj commented on #118
Thank you for looking into it!

[2019-03-29 12:56] dumbbell commented on #118
Hmm, you're right, I was looking at the list of files in the output of `rebar3 hex publish` and didn't spot `rebar.config`. I assumed we didn't support rebar3 and forgot the Rebar files are not listed explicitely.

So yes, we should be able to patch the generated `rebar.config` to use relaxed pinning.

[2019-04-25 21:14] #91 closed

[2019-06-27 07:25] qiannianshaonian opened #121 "rabbitmq-erlang-client/deps/rabbit/scripts/rabbitmq-plugins: No such file or directory"
gmake
then gmake run-broker
but points
 rabbitmq-erlang-client/deps/rabbit/scripts/rabbitmq-plugins: No such file or directory

[2019-06-27 08:19] michaelklishin commented on #121
Thank you for your time.

Team RabbitMQ uses GitHub issues for specific actionable items engineers can work on. GitHub issues are not used for questions, investigations, root cause analysis, discussions of potential issues, etc (as defined by this team).

We get at least a dozen of questions through various venues every single day, often light on details.
At that rate GitHub issues can very quickl

[2019-06-27 08:19] #121 closed

[2019-06-27 08:20] michaelklishin commented on #121
`gmake run-broker` makes no sense for this repository. If you want to start a REPL (shell), use `gmake shell`.

[2019-06-27 08:50] qiannianshaonian commented on #121
thank you

[2019-07-25 00:25] michaelklishin opened #123 "Store a crypted password in connection state, decrypt on access"
See https://github.com/rabbitmq/rabbitmq-shovel/issues/64 for background.

We can use a separate process for password value access that `error_logger` won't typically log. It would generate a new pair of keys on start, so each connection would use a unique key.
The details are currently TBD.

Per discussion with @acogoluegnes @kjnilsson @gerhard @lukebakken.

[167149046]

[2019-08-16 03:12] #123 closed

[2019-08-23 03:03] lanxin2578 opened #125 "/bin/sh: -c: line 0: syntax error near unexpected token `(' /bin/sh: -c: line 0: `echo " DEP " rabbit_common; fetch_url1='https://github.com/rabbitmq/rabbitmq-common';"
[code]

[2019-08-23 03:38] michaelklishin commented on #125
The error is reported by your shell. I see no evidence of anything to address in this client.

[code]

successfully builds for me.

You can consume this client from Hex.pm. There isn't much else that can be suggested with the amount of information provided.

[2019-08-23 03:38] #125 closed

[2019-09-04 11:56] #35 closed

[2019-10-15 22:40] #44 closed

[2020-06-17 10:21] michaelklishin opened #133 "Make it possible to specify client_properties using a map"
Proplists are so 2013.